node_modules
generated.js

target/

# IntelliJ IDEA
.idea/
.idea
.idea/libraries/*
.idea/libraries/
.idea/libraries
.DS_Store

# temp files
.#*
~*
*~
report.xml
*.swp
.ensime_cache/
/.idea/
/.idea/codeStyles/
/.idea/dictionaries/
/.idea/inspectionProfiles/
/.idea/libraries/
/.idea/modules/
/.idea/.gitignore
/.idea/.name
/.idea/misc.xml
/.idea/modules.xml
/.idea/play2_compiler_settings.xml
/.idea/sbt.xml
/.idea/scala_compiler.xml
/.idea/scala_settings.xml
/.idea/statistic.xml
/.idea/vcs.xml
/.idea/workspace.xml
